
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
button {
    border-radius: 5px;
    font-size: 1.5rem;

}

.headerimage {
    text-align: center;
}

.info {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 2.5rem;
}

html, body, #container {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    font-family: Times;
}

a:hover {
    text-decoration: none;
    color: gray;
}

nav {
    overflow: auto;
    padding: 15px;
    font-size: 2.5rem;
}

/* nav container*/
nav .link {
    text-align: center;
    overflow: auto;
}

/* Spaces out links evenly */
nav .container {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer {
    text-align: center;
    padding: 30px 0 15px 0;
    font-size: 1.75rem;
    font-family: Times;
}

#container .graph {
    height: 50%;

}